# git-cliff configuration
# Learn more at https://github.com/orhun/git-cliff

[changelog]
# changelog header
header = """
# Changelog

All notable changes to this project will be documented in this file.

The format is based on [Keep a Changelog](https://keepachangelog.com/en/1.0.0/),
and this project adheres to [Semantic Versioning](https://semver.org/spec/v2.0.0.html).
"""

# template for the changelog body
# https://keepsachangelog.com
body = """
{% if version %}\
    ## [{{ version }}] - {{ timestamp | date(format="%Y-%m-%d") }}
{% else %}\
    ## [Unreleased]
{% endif %}\
{% for group, commits in commits | group_by(attribute="group") %}
    ### {{ group | upper }}
    {% for commit in commits %}
    - {% if commit.breaking %}⚠️ BREAKING{% endif %}\
        {% if commit.scope %}({{ commit.scope }}) {% endif %}\
        {{ commit.message }}{% if commit.links %} ({% for link in commit.links %}[{{ link.text }}]({{ link.href }}){% if not loop.last %}, {% endif %}{% endfor %}){% endif %}\
    {% endfor %}
{% endfor %}\n
"""

# remove the leading and trailing whitespaces from the template
trim = true

# changelog footer
footer = """
<!-- generated by git-cliff -->
"""

[git]
# parse the commit messages using the following regex
# https://docs.rs/regex/latest/regex
commit_parsers = [
    { message = "^feat", group = "Features" },
    { message = "^fix", group = "Bug Fixes" },
    { message = "^doc", group = "Documentation" },
    { message = "^perf", group = "Performance" },
    { message = "^refactor", group = "Refactoring" },
    { message = "^style", group = "Styling" },
    { message = "^test", group = "Testing" },
    { message = "^chore\\(deps.*\\): update", skip = true },
    { message = "^chore", group = "Miscellaneous Tasks" },
    { body = ".*security", group = "Security" },
]

# group the commits inside sections
default_group = "Other"

# protection: if we reach this commit, we stop parsing commits
# until we reach the next tag.
skip_tags = "v0.1.0-rc1"
