{{- if and (not .Values.existingAuthSecret.name) (or .Values.auth.password .Values.auth.google.clientId .Values.auth.microsoft.clientId .Values.auth.github.clientId) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "fax-ui.fullname" . }}-auth
  labels:
    {{- include "fax-ui.labels" . | nindent 4 }}
type: Opaque
data:
  {{- if .Values.auth.password }}
  AUTH_PASSWORD: {{ .Values.auth.password | b64enc | quote }}
  {{- $sessionSecret := .Values.auth.sessionSecret | default (printf "auto-%s" (randAlphaNum 32)) }}
  SESSION_SECRET: {{ $sessionSecret | b64enc | quote }}
  {{- end }}
  {{- if .Values.auth.google.clientId }}
  GOOGLE_CLIENT_ID: {{ .Values.auth.google.clientId | b64enc | quote }}
  GOOGLE_CLIENT_SECRET: {{ .Values.auth.google.clientSecret | b64enc | quote }}
  {{- end }}
  {{- if .Values.auth.microsoft.clientId }}
  MICROSOFT_CLIENT_ID: {{ .Values.auth.microsoft.clientId | b64enc | quote }}
  MICROSOFT_CLIENT_SECRET: {{ .Values.auth.microsoft.clientSecret | b64enc | quote }}
  {{- end }}
  {{- if .Values.auth.github.clientId }}
  GITHUB_CLIENT_ID: {{ .Values.auth.github.clientId | b64enc | quote }}
  GITHUB_CLIENT_SECRET: {{ .Values.auth.github.clientSecret | b64enc | quote }}
  {{- end }}
{{- end }}
